[defaults]
inventory = inventory
private_key_file = ~/.ssh/ansible
remote_user = simone

[ssh_connection]
ssh_args = -o GSSAPIAuthentication=no -o PreferredAuthentications=publickey -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
